section {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 80px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 80px;
    font-size: 24px;
    color: #949494;
    border: solid black;
}

div:nth-of-type(1) {
    color: blue;
    text-shadow: 2px 2px 5px black;
}

div:nth-of-type(2) {
    background-color: rgb(105, 127, 238);
    color: white;
    text-shadow: 2px 2px 5px black;
}

div:nth-of-type(3) {
    background-color: #b1b1b1;
    color: #b1b1b1;
    text-shadow: 0.8px 0.8px 0px black, -0.3px -0.3px 0px white;
}

div:nth-of-type(4) {
    background-color: #b1b1b1;
    color: #b1b1b1;
    text-shadow: 0.8px 0.8px 0px white, -0.3px -0.3px 0px black;
}

div:nth-of-type(5) {
    background-color: rgb(105, 127, 238);
    color: rgb(105, 127, 238);
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
}

div:nth-of-type(6) {
    color: black;
    text-shadow: 0px 0px 5px orangered;
}

div:nth-of-type(7) {
    color: black;
    text-shadow: 0px 0px 5px rgb(102, 0, 255), 0px 0px 5px rgb(102, 0, 255);
}

div:nth-of-type(8) {
    color: rgb(185, 185, 185);
    text-shadow: 1px 1px rgb(160, 222, 255), 1.3px 1.3px black, 1.6px 1.6px rgb(185, 185, 185);
}

div:nth-of-type(9) {
    color: rgb(106, 106, 106);
    text-shadow: 1px 1px 0px #e8f8a0, 0px 0px 10px #ffb774, 0px -10px 14px #e35700, 0px -5px 4px #FF4400, 0px -7px 10px black;
}